* {
    box-sizing: border-box;
}
.primeiro {
    height:70vh;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: EFE3FF;
    background-image: url("images/image\ 11.png");
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.segundo {
    height:75vh;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: EFE3FF;
    background-image: url("images/image\ 12.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    max-width: 100%;
    max-height: 100%;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);;
}
.espacamento {
    margin-right: 25vh;
}
.espacamento2 {
    margin-left: 25vh;
}
.fora{
    position: relative;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-top: 2vh;
    width: 20vh;
    display: inline-block;
}

.box {
    background:white;

    height:30vh;
    margin-bottom: 5vh;
    text-align: center;
    
}

nav {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: fixed;

    background-color: white;

    z-index: 99;

}

nav a {

    color: black;

    margin: 5px 0vh 0vh 30px;

    text-decoration: none;
    

    font-weight: bold;

}

nav li {

    float: left;
    color: gray;
    list-style: none;
    justify-content: center;
    align-items: center;

    margin-left: 15vh;

}

nav img {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}
.texto{
    max-width: 10vh;
}

#botao1{
    margin-top: 5vh;
    color: white;
    background-color:#7A7CFF;
    height: 5vh;
    width: 20vh;
    border: 0ch;
    border-style: dotted;
}
.stepbox {
    background:white;

    height:50vh;
    margin-bottom: 5vh;
    text-align: center;
    
}

.steps{
    position: relative;
    margin-left: 12vh;
    margin-right: 12vh;
    margin-top: 2vh;
    display: inline-block;
    font-family: lucida sans;

}

.yt{
    position: relative;
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.parceiros{
    position: relative;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: -2vh;
    display: inline-block;
}

.titulo{
    font-family: lucida sans;
}
.section3 {
    display: inline-block;
    position: inline-flex;
    margin-top: 80vh;
}